<!DOCTYPE html>
<html>
  <head>
    <title>Fortuit - Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <a href='/'><img class='logo' src="/images/logo.svg" width=200></a>
    <% if(error) { %><p><%= error %></p><% } %>
    <form action="/create" method="post">
      <div>
        <input type="text" name="username" placeholder="Username">
      </div>
      <div>
        <input type="password" name="password" placeholder="Password">
      </div>
      <div>
        <input type="password" name="confirm" placeholder="Confirm Password">
      </div>
      <div>
        <input type="submit" value="Create Account">
      </div>
    </form>
  </body>
</html>
