<!DOCTYPE html>
<html>
  <head>
    <title>Fortuit - Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>

    <img class='logo' src="/images/logo.svg" width=200>
    <form action="/login" method="post">
      <div>
        <input type="text" name="username" placeholder="Username">
      </div>
      <div>
        <input type="password" name="password" placeholder="Password">
      </div>
      <div>
        <input type="submit" value="Log In">
      </div>
    </form>
  </body>
</html>
