<!DOCTYPE html>
<html>
  <head>
    <title>Fortuit - Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <img class='logo' src="/images/logo.svg" width=200>
    <form action="/login" method="post">
      <div>
        <input type="text" name="username" placeholder="Username">
      </div>
      <div>
        <input type="password" name="password" placeholder="Password">
      </div>
      <div>
        <input type="submit" value="Log In">
      </div>
    </form>
    <p><a href="/create">Create an account</a></p>
    <h1>What is Fortuit?</h1>
    <p>Humans tend to overestimate probability.</p>
    <p>For example, we often say we're 99% sure something will happen, when in reality it might only happen 60% of the time.</p>
    <p>Fortuit lets you track your predictions and become more aware of your own statistical biases.</p>
  </body>
</html>
