<!DOCTYPE html>
<html ng-app="FortuitApp">
  <head>
    <title>Fortuit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script>
      var user = {name: "<%= user.name %>", id: "<%= user._id %>"};
    </script>
    <script src="lib/angular/angular.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <div id="navBar" onselectstart="return false;">
      <div>
        <img class='logo' src="/images/logo.svg" width=150>
      </div>
      <i class="fa fa-home" ng-class="{selected: view == 'home'}" ng-click="setView('home')"></i>
      <i class="fa fa-archive" ng-class="{selected: view == 'archive'}" ng-click="setView('archive')"></i>
      <i class="fa fa-bar-chart" ng-class="{selected: view == 'data'}" ng-click="setView('data')"></i>
      <i class="fa fa-group" ng-class="{selected: view == 'group'}" ng-click="setView('group')"></i>
      <span style="float: right">
        <%= user.name %>
        <i class="fa fa-sign-out" ng-click="logout()"></i>
      </span>
    </div>
    <div class="view" ng-show="view == 'home'">
      <div class="prediction">
        <form novalidate>
          <div>
            <textarea placeholder="Describe your prediction (optional)" ng-model="new_prediction_desc"></textarea>
          </div>
          <div>
            <span class="bignumber">{{ new_prediction_confidence }}%</span><br>
            <input type="range" min="1" max="99" ng-model="new_prediction_confidence"><br>
            <button ng-click="submitPrediction()">Submit prediction</button>
          </div>
        </form>
      </div>
      <h2>To validate</h2>
      <div class="prediction" ng-repeat="prediction in predictions">
        <% include prediction %>
      </div>
    </div>
    <div class="view" ng-show="view == 'archive'">
      <div class="prediction" ng-repeat="prediction in predictions">
        <% include prediction %>
      </div>
    </div>
    <div class="view" ng-show="view == 'data'">
      <h1>Data</h1>
    </div>
    <div class="view" ng-show="view == 'group'">
      <h1>Friends</h1>
    </div>
  </body>
</html>
