<!DOCTYPE html>
<html ng-app="FortuitApp">
  <head>
    <title>Fortuit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <script>
      var user = {name: "<%= user.name %>", id: "<%= user._id %>"};
    </script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/chartjs/Chart.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <div id="navBar" onselectstart="return false;">
      <div>
        <img class='logo' src="/images/logo.svg" width=150>
        <span style="position: absolute; top: 25px; right: 20px;">
          <%= user.name %>
        </span>
      </div>
      <i class="fa fa-home" ng-class="{selected: view == 'home'}" ng-click="setView('home')"></i>
      <i class="fa fa-archive" ng-class="{selected: view == 'archive'}" ng-click="setView('archive')"></i>
      <i class="fa fa-bar-chart" ng-class="{selected: view == 'stats'}" ng-click="setView('stats')"></i>
      <i class="fa fa-group" ng-class="{selected: view == 'group'}" ng-click="setView('group')"></i>
      <span style="float: right">
          <i class="fa fa-sign-out" ng-click="logout()"></i>
      </span>
    </div>
    <div class="view" ng-show="view == 'home'">
      <form novalidate>
        <table class="prediction">
          <tr>
            <td class="percentage">
              {{ new_prediction_confidence }}%<br>
            </td>
            <td>
              <textarea placeholder="Describe your prediction (optional)" ng-model="new_prediction_desc"></textarea>
              <input type="range" min="1" max="99" ng-model="new_prediction_confidence"><br>
              <button ng-click="submitPrediction()">Submit prediction</button>
            </td>
          </tr>
        </table>
      </form>
      <h2>Pending Resolution</h2>
      <table class="prediction" ng-repeat="prediction in predictions">
        <% include prediction %>
      </table>
    </div>
    <div class="view" ng-show="view == 'archive'">
      <div class="paginate">
        <i class="fa fa-arrow-left" ng-show="page > 0" ng-click="changePage(-1)"></i>
        Page {{ page + 1 }} of {{ pageCount }}
        <i class="fa fa-arrow-right" ng-show="page < pageCount - 1" ng-click="changePage(1)"></i>
      </div>
      <table class="prediction" ng-repeat="prediction in predictions">
        <% include prediction %>
      </table>
    </div>
    <div class="view" ng-show="view == 'stats'">
      <canvas id="statGraph"></canvas>
      <p>
        The bottom axis of the chart shows your predicted probability, and the left axis shows the actual probability.
      </p>
      <p>
        The yellow line is your goal. If the blue line is above the yellow line, things are more likely than you predict. If the blue line is below the yellow line, they're less likely than you predict.
      </p>
      <h1>Score: {{ statScore }}</h1>
      <p>
        Your score is an overall measurement of your accuracy. The closer to 100, the better!
      </p>
    </div>
    <div class="view" ng-show="view == 'group'">
      <h1>Friends</h1>
    </div>
  </body>
</html>
