<tr>
  <td class="percentage" rowspan="2">{{ prediction.confidence }}%</td>
  <td class="desc">{{ prediction.affair.desc.length > 0 ? prediction.affair.desc : "Prediction of " + prediction.niceDate }}</td>
  <td class="close" rowspan="2" ng-show="prediction.affair.user == user.id && !prediction.resolved">
    <i class="fa fa-close" ng-click="deletePrediction(prediction)">
  </td>
  <td class="buttons result" ng-show="prediction.resolved">
    <b>{{ prediction.affair.result ? "Yes" : "No" }}</b>
  </td>
</tr>
<tr>
  <td class="buttons" ng-show="prediction.affair.user._id == user.id && prediction.affair.user._id == prediction.user && !prediction.resolved">
    <button ng-click="resolvePrediction(prediction, true)">Yes</button>
    <button ng-click="resolvePrediction(prediction, false)">No</button>
  </td>
  <td class="buttons" ng-show="prediction.affair.user._id != prediction.user || (prediction.affair.user._id != user.id && prediction.user != user.id && !prediction.resolved)">
    <span ng-show="prediction.affair.user._id != prediction.user">{{ prediction.affair.user.name }}</span>
    <button ng-click="popoverPrediction(prediction)" ng-show="prediction.affair.user._id != user.id && prediction.user != user.id && !prediction.resolved">Make Prediction</button>
  </td>
</tr>
