<tr>
  <td class="percentage" rowspan="2">{{ prediction.confidence }}%</td>
  <td class="desc">{{ prediction.affair.desc.length > 0 ? prediction.affair.desc : "Prediction " + prediction.created }}</td>
  <td class="close" rowspan="2" ng-show="prediction.affair.user == user.id && !prediction.resolved"><i class="fa fa-close" ng-click="deletePrediction(prediction)"></td>
</tr>
<tr>
  <td class="buttons" ng-show="prediction.affair.user == user.id && !prediction.resolved">
    <button ng-click="resolvePrediction(prediction, true)">Yes</button>
    <button ng-click="resolvePrediction(prediction, false)">No</button>
  </td>
  <td class="buttons" ng-show="prediction.resolved">
    <b>{{ prediction.affair.result ? "Yes" : "No" }}</b>
  </td>
</tr>
