@import "global.less";

textarea {
  border: 0;
  width: 100%;
  background: transparent;
  resize: none;
  font: @text-size @font-family;
}

input[type="range"] {
  width: 100%;
  margin: 0;
}

button {
  font-size: @text-size;
}

input[type="text"], input[type="password"] {
  font-size: @text-size;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #888;
}
input[type="submit"]:focus {
  outline: 0;
}
