@import "global.less";

body {
  text-align: center;
  padding: 10px;
  background: @nav-color;
  color: @bg-color;
}

/* i.e. the login form */
form {
  margin: 20px;
}

img.logo {
  padding: 30px;
}

a {
  color: lighten(@link-color, 20%);
  cursor: pointer;
}
a:hover {
  color: lighten(@link-color, 40%);
}

input[type="text"], input[type="password"] {
  color: @bg-color;
  border-color: fadeout(@button-color, 60%);
  padding: 5px;
  margin: 5px;

  &:hover, &:focus {
    border-color: @button-color;
  }
}

input[type="submit"] {
  color: @bg-color;
  border: 1px solid fadeout(@button-color, 60%);
  background: transparent;
  padding: 5px;
  margin: 5px;

  &:focus, &:hover {
    background: fadeout(@bg-color, 80%);
    border-color: @button-color;
  }
  &:active {
    background: @bg-color;
    color: @text-color;
  }
}
/* Placeholder text */

.placeholder-text {
  color: fadeout(#fff, 25%);
}

::-webkit-input-placeholder {
  .placeholder-text();
}

:-moz-placeholder { /* Firefox 18- */
  .placeholder-text();
}

::-moz-placeholder {  /* Firefox 19+ */
  .placeholder-text();
}

:-ms-input-placeholder {
  .placeholder-text();
}
