@nav-color: #4683c6;
@bg-color: #ffffff;

@button-color: #ffffff;
@selected-color: #bbbbbb;

body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: @bg-color;
}

a {
  color: #00B7FF;
}

img.logo {
  margin: 5px;
}

#navBar {
  box-sizing: border-box;
  width: 100%;
  background-color: @nav-color;
  font-size: 20px;
}

#navBar i {
  padding: 10px;
  cursor: pointer;
  border-style: solid;
  border-color: @nav-color;
  color: fadeout(@button-color, 40%);
}

#navBar i.selected, #navBar i:active {
  border-bottom: 5px solid @button-color;
  color: @button-color;
}

.view {
  width: 100%;
  padding: 10px;
}
