@import "global.less";
@import "forms.less";
@import "prediction.less";

body {
  padding: 0px;
  margin: 0px auto;
  font: 14px @font-family;
  background: @bg-color;
  overflow-y: scroll;
}

a {
  color: #00B7FF;
}

img.logo {
  display: inline;
  padding: 15px 15px 10px;
}

#navBar {
  box-sizing: border-box;
  width: 100%;
  background-color: @nav-color;
  font-size: 20px;
  color: fadeout(@button-color, 40%);

  .container {
    max-width: @max-size;
    position: relative;
    margin: 0 auto;
  }
}

#navBar i {
  padding: 5px 10px 10px;
  cursor: pointer;
  border-style: solid;
  border-color: @nav-color;
}

#navBar i.selected, #navBar i:active {
  border-bottom: 5px solid @button-color;
  color: @button-color;
}

.view {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  max-width: @max-size;
  margin: 0 auto;
}

button {
  background: transparent;
  border: 1px solid fadeout(@nav-color, 60%);
  border-radius: 4px;
  padding: 5px;
  margin: 2px;

  &:hover, &:active {
    background-color: fadeout(@nav-color, 80%);
  }
}

.bignumber {
  font-size: 50px;
}

.paginate {
  text-align: center;

  i {
    font-size: 1.5em;
  }
}

/* Placeholder text */

.placeholder-text {
  color: fadeout(#000, 50%);
}

::-webkit-input-placeholder {
  .placeholder-text();
}

:-moz-placeholder { /* Firefox 18- */
  .placeholder-text();
}

::-moz-placeholder {  /* Firefox 19+ */
  .placeholder-text();
}

:-ms-input-placeholder {
  .placeholder-text();
}
