@import "global.less";
@import "forms.less";
@import "prediction.less";

body {
  padding: 0px;
  margin: 0px;
  font: 14px @font-family;
  background: @bg-color;
}

a {
  color: #00B7FF;
}

img.logo {
  display: inline;
  margin: 0 auto;
  padding: 5px;
}

#navBar {
  box-sizing: border-box;
  width: 100%;
  background-color: @nav-color;
  font-size: 20px;
  color: fadeout(@button-color, 40%);
}

#navBar i {
  padding: 5px 10px 10px;
  cursor: pointer;
  border-style: solid;
  border-color: @nav-color;
}

#navBar i.selected, #navBar i:active {
  border-bottom: 5px solid @button-color;
  color: @button-color;
}

.view {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

button {
  background: transparent;
  border: 1px solid fadeout(@nav-color, 60%);
  padding: 5px;
  margin: 2px;
}

.bignumber {
  font-size: 50px;
}
